.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313030;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

  border-radius: 20px;
  background: #313030;
  box-shadow: 31px 31px 62px #242323, -31px -31px 62px #3e3d3d;
  margin-left: 30px;
}

.Button h3 {
  font-size: 50px;
  color: #f38e00;
  text-shadow: 20px 20px 60px #cf7900, -20px -20px 60px #ffa300;
}